@{
    ViewData["Title"] = "Strona główna";
}
<div>
    <div class="text-center bg-transparent">
    <h1 class="display-4">projekt Szkolenie Techniczne 3</h1>
    <h4>Patryk Bukowski w58954</h4>
</div>
</div>

